<div class="col-md-8 mx-auto mt-3">
  <div class="user-box">
    <h3 class="text-center"><%= "ユーザー情報" %></h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :nick_name %><br />
        <%= f.text_field :nick_name, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password %> <i>(<%= t ".change_email" %>)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= t(".minimum_password_length_6", length: @minimum_password_length) %></em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(<%= t ".current_password" %>)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="form-group form-inline d-inline">
        <%= f.submit "更新", class: "btn btn-primary" %>
      </div>

      <div class="form-inline mt-2 d-inline">
      <%= button_to "削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, class: "btn btn-warning" %>
      <%= link_to "戻る", :back, class: "btn btn-secondary" %>
    </div>
    <% end %>
  </div>
</div>