<header class="d-flex">
  <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
        <%= form_with url: areas_search_path, local: true, class:"form-inline search-form-res mt-3"  do |f| %>
          <%=  f.search_field :query, class: "form-control", type:"search", placeholder:"例:レストラン" %>
          <button class="btn btn-outline-success mr-2" type="submit"><i class="fas fa-search"></i></button>
          <button type="button" class="setMypo btn btn-outline-success"><i class="fas fa-map-marker-alt"></i></button>
        <% end %>
        <ul>
          <li><%= link_to "ホーム", areas_path  %></li>
          <li><a href="#">サイトについて</a></li><!-- 今後実装予定  -->
          <% if user_signed_in? %>
            <li>
              <%= link_to "会員情報", edit_user_registration_path %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "会員登録", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
  <%= form_with url: areas_search_path, local: true, class:"form-inline search-form-main w-50"  do |f| %>
    <%=  f.search_field :query, class: "form-control", type:"search", placeholder:"例:レストラン" %>
    <button class="btn btn-outline-success mr-3" type="submit"><i class="fas fa-search"></i></button>
    <button type="button" class="setMypo btn btn-outline-success"><i class="fas fa-map-marker-alt"></i></button>
  <% end %>
  <h1 class="my-0 py-2"><%= link_to "Smoke", areas_path  %></h1>
</header>