<section class="main">
  <div id="areas_lat" data-areas-lat="<%= @areas_lat %>"></div>
  <div id="areas_log" data-areas-log="<%= @areas_log %>"></div>
  <div id="areas_address" data-areas-address="<%= @areas_address %>"></div>
  <div id="areas_search" data-areas-address="<%= @areas_search %>"></div>
  <div id="areas_comment" data-areas-comment="<%= @areas_comment %>"></div>
  <div id="areas_status" data-areas-status="<%= @areas_status %>"></div>
  <% unless current_user %>
    <div id="login_areas_lat" login-data-areas-lat="<%= @login_areas_lat %>"></div>
    <div id="login_areas_log" login-data-areas-log="<%= @login_areas_log %>"></div>
    <div id="login_areas_address" login-data-areas-address="<%= @login_areas_address %>"></div>
    <div id="login_areas_comment" login-data-areas-comment="<%= @login_areas_comment %>"></div>
    <div id="login_areas_status" login-data-areas-status="<%= @login_areas_status %>"></div>
  <% end %>
  <div id="maps" class="maps"></div>
  <button type="button" class="button shadow" data-toggle="modal" data-target="#demoNormalModal">投稿する</button>
  <div class="click-massage bg-white p-2 shadow-lg p-3 mb-5 bg-white rounded">
    <h2>見つけた喫煙所の場所をクリックしてください。</h2>
  </div>
</section>
<%= render "shared/modal" %>