<!DOCTYPE html>
<html>
  <head>
    <title>Smoke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?language=ja&key=AIzaSyBBfrWqpzoPSS7b4vEwv2lDmgfy84eNs40"></script>  
  </head>

  <body>
    <%= render "shared/header" %>
      <div class="d-flex top">
        <section class="menu shadow-right">
            <nav>
              <ul>
                <li><%= link_to "ホーム", areas_path  %></li>
                <li><a href="#">サイトについて</a></li>
                <% if user_signed_in? %>
                  <li>
                    <%= link_to "会員情報", edit_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "会員登録", new_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to "ログイン", new_user_session_path %>
                  </li>
                <% end %>
              </ul>
          </nav>
        </section>
        <%= yield %>
    </div>
    
  </body>
</html>
