<!DOCTYPE html>
<html>
  <head>
    <title>Smoke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?language=ja&key=AIzaSyBBfrWqpzoPSS7b4vEwv2lDmgfy84eNs40"></script>  
  </head>

  <body>
    <%= render "shared/header" %>
      <div class="d-flex top">
        <section class="menu shadow-right">
            <nav>
              <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="#">サイトについて</a></li>
                <% if user_signed_in? %>
                  <li>
                    <%= link_to "会員登録・編集", edit_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "会員登録・編集", new_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to "ログイン", new_user_session_path %>
                  </li>
                <% end %>
              </ul>
          </nav>
        </section>
        <%= yield %>
    </div>
    
  </body>
</html>
